@model ForgetPasswordViewModel

<div class="site-wrapper" id="top">

    <main class="page-section inner-page-sec-padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                    @if (TempData["EmailSent"] == null)
                    {
                        <form method="post">
                            <div class="login-form">
                                <h4 class="login-title">Customer Forget Password</h4>
                                <div class="row">
                                    <div class="col-12 mb--20">
                                        <label for="email">Email</label>
                                        <input class="mb-0 form-control" asp-for="Email" type="email" id="email" placeholder="Enter Your Email Address Here..">
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                    <a asp-action="forgetpassword">Forget Password?</a>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-outlined">Send Email</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <h3 class="text-success">Check your email for reset password.</h3>
                    }
                </div>
            </div>
        </div>
    </main>
</div>