@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Reset Password</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mx-auto mb--30 mb-lg--0">
                <!-- Login Form s-->
                <form method="post">
                    <div class="login-form">
                        <h4 class="login-title">Reset Password</h4>
                        <div class="row">
                            <div class="col-12 mb--20">
                                <label for="email">New Password</label>
                                <input class="mb-0 form-control" asp-for="NewPassword" id="email" placeholder="Enter Your New Password..">
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="col-lg-12 mb--20">
                                <label for="password">Confirm New Password</label>
                                <input asp-for="ConfirmNewPassword" class="mb-0 form-control" type="password" id="password" placeholder="Enter your confirm password">
                                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                            </div>

                            <input type="hidden" name="email" value="@TempData["email"]" />
                            <input type="hidden" name="token" value="@TempData["token"]" />
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outlined">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


